---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octokit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1482402295'
      Etag:
      - W/"71400eac54e5dbdb33be9e2031d88dc1"
      Last-Modified:
      - Wed, 07 Dec 2016 05:46:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"octokit","id":3430433,"avatar_url":"https://avatars.githubusercontent.com/u/3430433?v=3","gravatar_id":"","url":"https://api.github.com/users/octokit","html_url":"https://github.com/octokit","followers_url":"https://api.github.com/users/octokit/followers","following_url":"https://api.github.com/users/octokit/following{/other_user}","gists_url":"https://api.github.com/users/octokit/gists{/gist_id}","starred_url":"https://api.github.com/users/octokit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octokit/subscriptions","organizations_url":"https://api.github.com/users/octokit/orgs","repos_url":"https://api.github.com/users/octokit/repos","events_url":"https://api.github.com/users/octokit/events{/privacy}","received_events_url":"https://api.github.com/users/octokit/received_events","type":"Organization","site_admin":false,"name":null,"company":null,"blog":"http://octokit.github.io","location":null,"email":null,"hireable":null,"bio":null,"public_repos":5,"public_gists":0,"followers":0,"following":0,"created_at":"2013-01-30T18:13:42Z","updated_at":"2016-12-07T05:46:03Z"}'
  recorded_at: Thu, 22 Dec 2016 09:38:56 GMT
recorded_with: VCR 3.0.3
